
#porta para api 
PORT_API=8000
 
HOST='localhost'
PORT_DB=3306
USER=''
PASSWORD=''
DB_ESTOQUE    ='estoque'
DB_VENDAS     ='vendas'
DB_PUBLICO    ='publico'
DB_FINANCEIRO ='financeiro'


CRON_ADD_PHOTO= '*/1 6-20 * * 1-6'

